html,


body {
    width:100%;
	margin: 0;
	background: linear-gradient(45deg, #dcdcdd, #e8e8e6);
	font-family: sans-serif;
	font-weight: 100;

    
}

.button{
	margin-left: 45%;
    width: 140px;
}

.createButton {
	margin-bottom: 10px;
    color: #9749a0;
    top: 5%;
}



table {
	width: 100%;
	border-collapse: collapse;
	overflow: hidden;
    margin-top:100px;
	
    
	/* box-shadow: 0 0 20px rgba(0,0,0,0.1); */
}

th,
td {
	padding: 5px;
	background-color: rgba(15, 13, 13, 0.2);
	color:rgb(21, 21, 21);
	border:10px solid black;
}

th {
	text-align: center;
}

thead ,
	th {
		background-color:rgb(120, 131, 132);
		border:10px solid black;
	}

.text{
	padding-left: 100px;
	text-align: center;
}	



/* tbody ,
	tr ,
		:hover {
			background-color: rgba(255,255,255,0.3);
		} */